body {
  margin: 0;
  padding: 0;
  background-color: #171717;
}

.thinking {
  position: absolute;
  top: 20%;
  left: 37%;
  color: #ffffff;
  font-size: xx-large;
  -webkit-text-stroke: 0,5px #171717;
  backdrop-filter: blur(2px);
  text-shadow: -2px -2px #171717;
  font-family: Dancing Script;
}
.loader {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 100px;
  height: 100px;
  animation: animate 1s linear infinite;

}

.loader .photo {
  display: flex;
  position: absolute;

}
.loader .photo img{
  height: 10em;
  width: 10em;
  animation: rotate 2s linear infinite;
}


@keyframes animate {
  0%{
      width: 100px;
      height: 100px;

  }10%{
      width: 100px;
      height: 100px;


  }50%{
      width: 150px;
      height: 150px;


  }90%{
      width: 100px;
      height: 100px;


  }100%{
      width: 100px;
      height: 100px;

      
  }
}

@keyframes rotate {
  0%{
      transform: rotate(0deg);

  }10%{
      transform: rotate(40deg);
  
  }25%{
      transform: rotate(90deg);

  }50%{
      transform: rotate(180deg);


  }75%{
      transform: rotate(270deg);


  }100%{
      transform: rotate(360deg);

      
  }
}