* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Dancing Script;
}

section {
  background-image: url(./photos/index&/fondbeige.jpeg);
}

nav {
  height: 8em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #171717;
}

.nav0 {
  background-color: #ffffff;
  color: #8ea1ad;
  min-width: 320px;
}

.nav0 a {
  text-decoration: none;
  color: #8ea1ad;
  -webkit-text-stroke: 0.5px #171717;
  font-size: x-large;
}
.nav0 .titre a {
  color: #ffffff;
  -webkit-text-stroke: 0;
  font-size: large;
}
.nav0 a:hover {
  color: #171717;
  text-shadow: 0 0 5px #f8ac54;
}
.nav0 .titre a:hover {
  color: #ffffff;
}

.nav0 .titre {
  padding-top: 35px;
  height: 110px;
  width: 250px;
  background: #171717;
  animation: move 0.8s ease infinite;
  border-radius: 50%;
  border: 3px solid #f8ac54;
  text-align: center;
}

@keyframes move {
  0% {
    padding-top: 35px;
  }
  50% {
    padding-top: 30px;
  }
  100% {
    padding-top: 35px;
  }
}

.nav {
  height: 2em;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  align-items: center;
  border-bottom: 2px solid #171717;
  font-size: x-large;
  min-width: 320px;
}

.nav a {
  text-decoration: none;
  color: #8ea1ad;
  -webkit-text-stroke: 0.5px #171717;
}
.nav a:hover {
  color: #171717;
  text-shadow: 0 0 5px #f8ac54;
}

#morphing {
  position: relative;
  color: #ffffff;
  font-size: xx-large;
  -webkit-text-stroke: 0, 5px #171717;
  text-shadow: -2px -2px #171717;
  height: 100%;
  width: 100%;
}

#morphing h1 {
  top: 10%;
  left: 45%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: acceuil 16s infinite ease-in-out;
}

#morphing h1:nth-child(1) {
  animation-delay: -16s;
}
#morphing h1:nth-child(2) {
  animation-delay: -14s;
}
#morphing h1:nth-child(3) {
  animation-delay: -12s;
}
#morphing h1:nth-child(4) {
  animation-delay: -10s;
}
#morphing h1:nth-child(5) {
  animation-delay: -8s;
}
#morphing h1:nth-child(6) {
  animation-delay: -6s;
}
#morphing h1:nth-child(7) {
  animation-delay: -4s;
  color: #f8ac54;
}
#morphing h1:nth-child(8) {
  animation-delay: -2.4s;
  color: #f8ac54;
}
@keyframes acceuil {
  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }
  20%,
  80% {
    filter: blur(1em);
    opacity: 0;
  }
}

#btn {
  margin-top: 5vh;
  height: 50px;
  width: 250px;
  top: 25%;
  left: 45%;
  border-radius: 20px;
  background-color: #ffffff;
}

#btn2 {
  top: 60%;
  position: relative;
  height: 50px;
  width: 250px;
  border-radius: 20px;
  background-color: #ffffff;
}
#btn2 a {
  position: absolute;
  text-decoration: none;
  color: #171717;
}
#btn2 a:hover {
  color: #8ea1ad;
}

#btn2 a h1 {
  width: max-content;
  animation: none;
}

.mobile {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5vh;
  text-align: center;
  background-size: cover;
  color: #ffffff;
  font-size: large;
  -webkit-text-stroke: 0, 5px #171717;
  backdrop-filter: blur(2px);
  text-shadow: -2px -2px #171717;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #f8ac54;
  backdrop-filter: blur(10px);
}

.mobile #btn {
  margin-top: 10vh;
  height: 45px;
  width: 180px;
  top: 25%;
  left: 45%;
  border-radius: 20px;
}
.mobile #btn:hover {
  border-color: #ffffff;
}
.mobile #btn a {
  text-decoration: none;
  color: #171717;
  font-size: large;
}
.mobile #btn a:hover {
  color: #8ea1ad;
}
.mobile .btn {
  height: 80px;
  width: 80px;
  margin: 10px;
  color: #ffffff;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-color: #f8ac54;
}
.mobile .btn:hover {
  border-color: #ffffff;
}
.mobile .btn a {
  text-decoration: none;
  color: #ffffff;
}
.mobile .btn a:hover {
  color: #f8ac54;
}
.index {
  height: 100vh;
  width: 100%;
  padding: 5vh;
  text-align: center;
  background-size: cover;
  color: #ffffff;
  font-size: large;
  -webkit-text-stroke: 0, 5px #171717;
}
.pages {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 330px;
  height: fit-content;
  background-size: cover;
}

#index {
  background-image: url(./photos/index&/paques.png);
}

#sales {
  background-image: url(./photos/sales/photo1.png);
}
#sales2 {
  background-image: url(./photos/sales/photo2.jpg);
}
#sales2 .mobile {
  margin-top: 300px;
}

#sucres {
  background-image: url(./photos/sucres/photo1.jpg);
}
#sucres2 {
  background-image: url(./photos/sucres/photo2.jpg);
}
#sucres2 .mobile {
  margin-top: 300px;
}

#creations {
  background-image: url(./photos/creations/photo1.jpg);
}
#creations2 {
  background-image: url(./photos/creations/photo2.jpg);
}
#creations2 .mobile {
  margin-top: 200px;
}

#contact {
  background-image: url(./photos/contact/photo1.jpg);
}
#contact2 {
  background-image: url(./photos/contact/photo2.jpg);
}

#maison {
  background-image: url(./photos/maison/photo1.jpg);
}
#maison2 {
  background-image: url(./photos/maison/photo2.jpg);
}

#maison2 .mobile {
  margin-top: 200px;
}

#mentions {
  margin: 5%;
  padding: 0;
  background-image: url(photos/index&/fondbeige.jpeg);
}

h5 {
  position: absolute;
  height: 30px;
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  color: #8ea1ad;
  opacity: 0.7;
}

.footer {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
  height: 30px;
  font-size: small;
  background-color: #ffffff;
  border-top: 1px solid #8ea1ad;
}
.footer a {
  text-decoration: none;
  color: #171717;
}
.footer a:hover {
  color: #8ea1ad;
}

@media screen and (min-width: 900px) {
  .mobile {
    font-size: x-large;
  }

  .nav0 #maisonsite {
    display: flex;
  }
  .nav0 #maisonmobile {
    display: none;
  }
  .nav0 #contactsite {
    display: flex;
  }
  .nav0 #contactmobile {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav0 #maisonsite {
    display: none;
  }
  .nav0 #contactsite {
    display: none;
  }
  .nav0 #maisonmobile:hover {
    box-shadow: 0 0 5px #f8ac54;
    border-radius: 50%;
  }
  .nav0 #contactmobile:hover {
    box-shadow: 0 0 5px #f8ac54;
    border-radius: 50%;
    padding: 10px;
  }
}
@media screen and (max-width: 600px) {
  .nav0 .titre {
    width: 150px;
  }
  #morphing h1 {
    font-size: xx-large;
  }
  #btn2 a h1 {
    font-size: large;
  }
  .index {
    padding-top: 50px;
  }
}
@media screen and (max-width: 400px) {
  .nav0 .titre {
    width: 100px;
  }
  .nav0 .titre h1 {
    font-size: large;
  }
}
